      /*----- Body part----- */
      
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
     
     body{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 26px;
        color: #6C6C6C;
        width: 647px;
        height: 443px;
        margin-left: 793px;
          

        background-color:rgba(224, 222, 219, 0.103);
     }
    
        
       
        
          /*----- Banner ---------*/
    
        

    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    /* .banner{
        margin-bottom:27px;
        flex-direction:column;
    }
     */
     .container{
       display: flex;
       width:1440px;
       background-color: rgba(37, 7, 156, 0.753);
       

     }
    
          
.banners{
    
    justify-content: center;
}
    
  .banners a,.highlight-text a{
    text-decoration: none;
    border:1px solid;
    background-color: #aebdd1;
    padding: 10px 24px;
    width: 168px;
    height: 44px; 
    font-size: 16px;
    justify-content: center;
    
}  



.banner-title{
    Width:485px;
    Height:230px;
    font-size: 64px;
    line-height:80px;
    /* margin-bottom:310px; */
    margin-top: 207px;
    margin-left: 156px;
    margin-right: 102px;
    color: rgb(250, 250, 185);
}


  .banner-link{
      margin-bottom: 239px;
      margin-left:150px;

  }



.banner-image img{
    width: 556.01px;
     height: 438px;
     margin-top: 207px;
     margin-bottom: 80px;
     
}
          /* transition & transform */
.container:hover .banner-image {
              
  background-color: rgba(87, 92, 76, 0.596);
}
.container:hover .banner-image{
  transform: scale(2) skew(30deg);
  transition: transform 2s ease-in;
}
        /* Players Part */
.players{
     display: grid;
     grid-template-columns: repeat(3 ,1fr);
     grid-row-gap: 30px;
     margin-top: 70px;
            
            
 }
.player{
   
    width: 330px;
    height: 474px;
    padding:15px;
    margin:0px 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.text-title{
    color:black;
    font-size: 28px;
}
.player img{

  width: 300px;
  height: 256px;
}
   /* ----------
             Highlight ---------*/
  .highlight{
      display: flex;
      column-gap: 69px;

      
  }
  .highlight-text{ 
    width: 466px;
    height: 309px;
    padding:2%;
    margin-right:30px;
    font-size: 16px;
    line-height: 28px;
    margin-left: 195px;
    margin-top:224px;
    margin-bottom: 217px;
  }
  
  .highlight-image img{
    width: 567px;
    height: 427px;
    
    padding:2%;
    margin-top: 165px;
    margin-right: 156px;
    margin-left: 69px;
  }
  .highlight-title{
      font-size: 48px;
      line-height: 60px;
      color: #000;
  }
                /* addd Items */
                .additional{
                  background-image: url("images/players/istockphoto-531912354-612x612.jpg" width:100%);
                }
    .add-item{
        display:flex ;
        }

    .add-text{ 
    width: 466px;
    height: 309px;
    padding:2%;
    margin-right:30px;
    font-size: 16px;
    line-height: 28px;
    margin-left: 10px;
    margin-top:224px;
    margin-bottom: 217px;
  }
        
    .add-image img{
      width: 567px;
     height: 427px;
    
    padding:2%;
     margin-top: 165px;
   margin-right: 150px;
  margin-left: 150px;
                    
                }
       /* logo */
       .logo img{
        width: 483.87px;
        height: 110px;
       }
       /* social icon */
       .social-icons{
          display: flex;
           width: 170px;
          height: 32px;
          margin-bottom: 20px;
          margin-left: 156.94px;
          margin-right: 156.94px;
          column-gap: 14px;
          
       }
       .bottom{
           align-items: center;
           margin-top:158px;
       }
            /* footer */
            footer{
                display: flex;
                Width :236px;
                height:31px;
                font-size: 18px;
                margin-bottom: 63px;
                margin-left:123.94px;
                margin-right:123.94px;

                align-items: center;

            }
             
             /* Media query phone */ */
             @media only screen and (max-width: 688px)
             {
              .top-players{
                width:100%;
            }
          .players {
           
            grid-template-columns: repeat(1,1fr);
            
          }
          .player{
              flex-direction: column;
          }
          
        }
        